.movie-card {
    position: relative;
    width: 325px;
    padding: 16px 16px 107px;
    margin-bottom: 24px;
    background-color: #111;
    border-radius:  6px;

    .container-img {
        height: 440px;

        img {
            display: block;
            width: 100%;
            border-radius: 6px;
        }
    }

    h2 { margin: 16px 0 }

    p { margin-bottom: 16px; }

    svg {
        color: #f7d354;
    }

    .card-infos {
        position: absolute;
        right: 16px;
        bottom: 16px;
        left: 16px;
    }

    a {
        display: block;
        padding: 16px;
        border: 2px solid #f7d354;
        border-radius: 6px;
        background-color: #f7d354;
        font-weight: bold;
        color: #000;
        text-align: center;

        &:hover {
            background-color: transparent;
            color: #f7d354;
        }
    }
}