.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    input {
        padding: 11px 10px;
        border: none;
        border-radius: 6px;

        &:focus { outline: none }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border-radius: 6px;
        border: none;
        background-color: #f7d354;
        font-size: 24px;
        color: #000;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: #B8930C;
        }
    }
}